#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
}
/* 
body {
  background-color: whitesmoke !important;
  color: #141414 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212 !important;
    color: whitesmoke !important;
  }
} */